$text-title-color: #353535;
$text-normal-color: #5e5e5e;
$text-white-color: white;

$object-disabled: #bfbfbf;

$main-color: #eca539;
$secondary-color: #f22539;
$secondary-color-hover: #c00e20;

$main-white-color: #f5f5f5;
$secondary-white-color: #f9f9f9;
